@{
    ViewData["Title"] = "Delete Product";
}
@model Artisanal.Web.Models.ProductDto

<form asp-action="ProductDelete">
    <input asp-for="ProductId" hidden />
    <div class="container border-3">
        <div class="col mt-5">
            <h3>Delete Product</h3>
            <p class="text-muted">Lorem Ipsum is simply dummy text  </p>
            <hr />
        </div>
        <div class="row">
            <div as-asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Product Name *@
            <div class="row">
                <div class="col-2">
                    <label asp-for="ProductName" class="control-label pt-2 fw-semibold">
                        Name
                    </label>
                </div>
                <div class="col-5 pb-3">
                    <input asp-for="ProductName" class="form-control ef-input" disabled />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>

            @* Category Name *@
            <div class="row">
                <div class="col-2">
                    <label asp-for="Category.CategoryName" class="control-label pt-2 fw-semibold">
                        Category
                    </label>
                </div>
                <div class="col-5 pb-3">
                    <input asp-for="Category.CategoryName" class="form-control ef-input" disabled />
                    <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                </div>
            </div>

            @* Price *@
            <div class="row">
                <div class="col-2">
                    <label asp-for="Price" class="control-label pt-2 fw-semibold">
                        Price
                    </label>
                </div>
                <div class="col-5 pb-3">
                    <input asp-for="Price" class="form-control ef-input" disabled />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            @* ImageURL *@
            <div class="row">
                <div class="col-2">
                    <label asp-for="ImageURL" class="control-label pt-2 fw-semibold">
                        Image URL
                    </label>
                </div>
                <div class="col-5 pb-3">
                    <input asp-for="ImageURL" class="form-control ef-input" disabled />
                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-auto">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
                <div class="col">
                    <a asp-action="ProductIndex" class="btn btn-link text-decoration-none">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}