@{
    ViewData["Title"] = "Categories";
}

@model IEnumerable<Artisanal.Web.Models.CategoryDto>
<div class="container">
    <div class="col mt-5">
        <h3>Category</h3>
        <p class="text-muted">Lorem Ipsum is simply dummy text</p>
        <hr />
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            <form asp-controller="Categories" asp-action="IndexCategory">
                <div class="input-group">
                    <input type="text" class="form-control" 
                        placeholder="Search by category name" a
                        ria-label="" 
                        aria-describedby="search-btn">
                    <button class="btn btn-secondary" type="button" id="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <a asp-action="CategoryCreate" class="btn btn-primary">
                <i class="fas fa-plus mx-2"></i>Create Category
            </a>
        </div>
    </div>
    <table class="table ef-table expand-first-child-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>Lorem Ipsum is simply dummy text</td>
                    <td>
                       <div class="d-flex justify-content-around">
                            <a asp-action="CategoryEdit"
                                asp-route-categoryId="@item.CategoryId">
                            <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="CategoryDelete"
                                asp-route-categoryId="@item.CategoryId">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>