@{
    ViewData["Title"] = "Delete Category";
}
@model Artisanal.Web.Models.CategoryDto

<form asp-action="CategoryDelete">
    <input asp-for="CategoryId" hidden />
    <div class="container border-3">
        <h1 class="text-primary">Delete Category</h1>
        <div class="row">
            <div as-asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Category Name *@
            <div class="col-2">
                <label asp-for="CategoryName" class="control-label pt-2" style="font-size: 1.2rem"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CategoryName" disabled class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="CategoryIndex" class="btn btn-primary form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-info form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}